<main>
    <div class="container">
        <h1 class="my-4">Title : {{currentCourse.title}}
        </h1>

        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src={{currentCourse.imgUrl}} alt="JavaScript" />
            </div>

            <div class="col-md-4 text-center">
                <h4 class="my-3">Duration</h4>
                <p>{{currentCourse.duration}}</p>
                <h3 class="my-3">Description</h3>
                <p>{{currentCourse.description}}</p>
                {{#if creator}}
                <a class="btn btn-danger" href="/delete/{{currentCourse._id}}">Delete</a>
                <a class="btn btn-warning" href="/edit/{{currentCourse._id}}">Edit</a>
                {{else}}
                {{#if alreadyEnrolled}}
                <span class="enrolled-span">You are already enrolled</span>
                {{else}}
                <a class="btn btn-primary" href="/enroll/{{currentCourse._id}}">Enroll</a>
                {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</main>